.container {
    display: flex;
    width: 100%;
  }
  
  .content-process {
    font-size:larger ;
    width: 60%;
    padding: 20px; /* Example padding */
  }
  
  .image-process {
    width: 40%;
    padding: 20px; /* Example padding */
  }
  
  .imgR-content{
    height:300px;
    width:350px;
  }
  .pay{
    padding-bottom: 30px;
  }
  